@font-face {
    font-family: porsche;
    src: url(./fonts/Porsche\ Next\ TT\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}


.header{
    /* background-color: rgb(184, 184, 184); */
    display: flex;
    flex-direction: row;
    height: 12vh;
    z-index: 999;
}

.headercars {
    display: flex;
    flex-direction: row;
    margin-left: 1.5vw;
}

.carimgcont {
    height: 100%;
}

.carimg {
    height: 80%;
    width: auto;
    margin: 1vh;
}

.carimg:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.headerlogocont {
    margin-left: 7vw;
    object-fit: cover;
}

.headerlogo {
    height: 16vh;
    width: auto;
    border: 1px rgb(206, 206, 206) solid;
    z-index: 999;
    max-height: 107px;
}

.headernav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2vw;
}

.navitem {
    margin: 0.5vw;
    font-size: 3vh;
    font-family: porsche;
}

.coverphotocont {
    width: auto;
    height: 70vh;
    z-index: 1;
    background-size: cover;
    z-index: -5;
}