* {
    margin: 0;
    padding: 0;
}


.header{
    background-color: red;
    display: flex;
    flex-direction: row;
}

.headercars {
    display: flex;
    flex-direction: row;
}

.carimg {
    height: 10px;
    width: auto;
}